body {
    font-family: Verdana, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 42px;
}

p {
    color: Gray;
    font-size: 21px;
}

.link {
    color: Aquamarine;
    font-size: 16px;
}

.icon {}

.footer {
    text-align: right;
} 